.header {
  background-color: #1f2937;
  height: 7.6rem;
  font-size: 1.8rem;
  padding: 0 4rem;
  color: #f9faf8;
}

.logo-link {
  font-size: 2rem;
  font-weight: 600;
  color: inherit;
}

.nav {
  gap: 6rem;
}

.nav-link {
  color: inherit;
}
